.footer-box {
  background-color: rgb(240, 240, 245);
}
.footer-content-box {
  margin: 0 60px;
}
.list-style {
  list-style: none;
}
li {
  cursor: pointer;
}
.foterImg1 {
  height: 64px;
  width: 208px;
}

@media (max-width: 768px) {
  .foterImg {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .dFlexCol {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
